/* Remove Google font imports since they're now handled by Next.js font optimization */

/* @plugin 'tailwindcss-animate'; */

@plugin 'tailwind-scrollbar-hide';

@custom-variant dark (&:is(.dark *));
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

@import 'tailwindcss';

/* Remove Font Delight declarations since they're now handled by Next.js font optimization */
/* Font Delight declarations are now handled in src/app/fonts.ts */

/* @config '../tailwind.config.ts'; */

:root {
  --background: #01050d;
  --foreground: #f2f2f2;
  --primary: #195af4;
  --secondary: #9aa6b5;
  --accent: #282d33;

  --popover: hsl(0 0% 3.9%);
  --popover-foreground: hsl(0 0% 98%);

  --radius: 0.6rem;

  --vscode-foreground: #0f1217;
}

@theme {
  --spacing: 4px;

  /* Font variables now controlled by Next.js font optimization via CSS variables */
  --font-lato: var(--font-lato), sans-serif;
  --font-roboto:
    var(--font-roboto), -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-delight: var(--font-delight), sans-serif;
  --tw-leading: 1;

  --text-xxs: 10px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-2xll: 28px;
  --text-3xl: 28px;

  --text-4xl: 36px;
  --text-5xl: 40px;

  --text-6xl: 60px;

  /* --text-xxs--line-height: 14px;
  --text-xs--line-height: 14px;
  --text-sm--line-height: 14px; */
  --text-base--line-height: 20px;
  /* --text-lg--line-height: 18px;
  --text-xl--line-height: 20px;
  --text-2xl--line-height: 24px;
  --text-2xll--line-height: 24px;

  --text-3xl--line-height: 32px; */

  --color-white: #fff;
  --color-black: #000;

  --color-background: #01050d;
  --color-foreground: #f2f2f2;
  --color-primary: #195af4;
  --color-secondary: #9aa6b5;
  --color-accent: #282d33;
  --color-success: #33cf8e;
  --color-error: #cf3336;
  --color-dark-bg: #0f1217;

  --border: #282d33;

  /* --font-weight-extrablack: 900;
  --font-weight-black: 800;
  --font-weight-bold: 600;
  --font-weight-semibold: 500;
  --font-weight-medium: 400;
  --font-weight-regular: 300;
  --font-weight-light: 200;
  --font-weight-extralight: 100; */
}

@layer theme {
  :root {
    /* This is a disabled section that enables mobile scaling */
    @media (width >= 999999px) {
      --spacing: 1.0667vw;

      --text-xxs: 2.6667vw;
      --text-xs: 3.2vw;
      --text-sm: 3.7333vw;
      --text-base: 4.2667vw;
      --text-lg: 4.8vw;
      --text-xl: 5.3333vw;
      --text-2xl: 6.4vw;
      --text-2xll: 7.4667vw;
      --text-3xl: 7.4667vw;

      --text-4xl: 10.6667vw;
      --text-5xl: 11.7333vw;

      --text-6xl: 16vw;

      /* --text-xxs--line-height: 14px;
      --text-xs--line-height: 14px;
      --text-sm--line-height: 14px; */
      --text-base--line-height: 5.3333vw;
      /* --text-lg--line-height: 18px;
      --text-xl--line-height: 20px;
      --text-2xl--line-height: 24px;
      --text-2xll--line-height: 24px;

      --text-3xl--line-height: 32px; */

      --color-white: #fff;
      --color-black: #000;

      --color-background: #01050d;
      --color-foreground: #f2f2f2;
      --color-primary: #195af4;
      --color-secondary: #9aa6b5;
      --color-accent: #282d33;
      --color-success: #33cf8e;
      --color-error: #cf3336;
      --color-dark-bg: #0f1217;

      /* --font-weight-extrablack: 900;
      --font-weight-black: 800;
      --font-weight-bold: 600;
      --font-weight-semibold: 500;
      --font-weight-medium: 400;
      --font-weight-regular: 300;
      --font-weight-light: 200;
      --font-weight-extralight: 100; */
    }
  }
  :root {
    @media (width >= theme(--breakpoint-sm)) {
      --spacing: 0.2315vw;
      --text-xxs: 0.58vw;
      --text-xs: 0.69vw;
      --text-sm: 0.81vw;
      --text-base: 0.93vw;
      --text-lg: 1.04vw;
      --text-xl: 1.16vw;
      --text-2xl: 1.39vw;
      --text-2xll: 1.6204vw;

      --text-3xl: 1.6204vw;

      --text-4xl: 2.0833vw;
      --text-5xl: 2.3148vw;

      --text-6xl: 3.4722vw;

      /* --text-xs--line-height: 0.81vw;
      --text-sm--line-height: 0.81vw; */
      --text-base--line-height: 1.1574vw;
      /* --text-lg--line-height: 1.04vw;
      --text-xl--line-height: 1.16vw;
      --text-2xl--line-height: 1.39vw;
      --text-3xl--line-height: 1.85vw; */
    }
  }
}

@layer utilities {
  body {
    font-family: var(--font-roboto);
    color: #f2f2f2;
    background-color: #0f1217;
  }
}

@layer base {
  input[type='number'].appearance-none::-webkit-inner-spin-button,
  input[type='number'].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'].appearance-none {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  /* clears the 'X' from Internet Explorer */
  input[type='search']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type='search']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  /* clears the 'X' from Chrome */
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    /* Revert text color */
    -webkit-text-fill-color: white !important;
    color: white !important;
    caret-color: white !important;

    /* Revert background color */
    transition: background-color 5000s ease-in-out 0s;
  }
  /* Custom scrollbar styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #14171c;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: #282d33;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3a3f45;
  }

  /* Firefox scrollbar */
  * {
    scrollbar-width: thin;
    scrollbar-color: #282d33 #14171c;
  }
}

* {
  scroll-behavior: smooth;
}
/* 
:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 3.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 3.9%);
  --primary: hsl(0 0% 9%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(0 0% 96.1%);
  --secondary-foreground: hsl(0 0% 9%);
  --muted: hsl(0 0% 96.1%);
  --muted-foreground: hsl(0 0% 45.1%);
  --accent: hsl(0 0% 96.1%);
  --accent-foreground: hsl(0 0% 9%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 89.8%);
  --input: hsl(0 0% 89.8%);
  --ring: hsl(0 0% 3.9%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.6rem;
} */

.dark {
  --background: hsl(0 0% 3.9%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(0 0% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(0 0% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(0 0% 9%);
  --secondary: hsl(0 0% 14.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 14.9%);
  --muted-foreground: hsl(0 0% 63.9%);
  --accent: hsl(0 0% 14.9%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 14.9%);
  --input: hsl(0 0% 14.9%);
  --ring: hsl(0 0% 83.1%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-highlight: var(--highlight);
  --color-brand: var(--brand);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

[data-radix-popper-content-wrapper] {
  --background: hsl(0 0% 3.9%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(0 0% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(0 0% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(0 0% 9%);
  --secondary: hsl(0 0% 14.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 14.9%);
  --muted-foreground: hsl(0 0% 63.9%);
  --accent: hsl(0 0% 14.9%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 14.9%);
  --input: hsl(0 0% 14.9%);
  --ring: hsl(0 0% 83.1%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --brand: hsl(213.3 93.9% 67.8%);
  --highlight: hsl(48 96% 53%);
}

[data-registry='plate'] {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 3.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 3.9%);
  --primary: hsl(0 0% 9%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(0 0% 96.1%);
  --secondary-foreground: hsl(0 0% 9%);
  --muted: hsl(0 0% 96.1%);
  --muted-foreground: hsl(0 0% 45.1%);
  --accent: hsl(0 0% 96.1%);
  --accent-foreground: hsl(0 0% 9%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 89.8%);
  --input: hsl(0 0% 89.8%);
  --ring: hsl(0 0% 3.9%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --brand: hsl(217.2 91.2% 59.8%);
  --highlight: hsl(47.9 95.8% 53.1%);
}

[data-registry='plate'].dark {
  --background: hsl(0 0% 3.9%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(0 0% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(0 0% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(0 0% 9%);
  --secondary: hsl(0 0% 14.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 14.9%);
  --muted-foreground: hsl(0 0% 63.9%);
  --accent: hsl(0 0% 14.9%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 14.9%);
  --input: hsl(0 0% 14.9%);
  --ring: hsl(0 0% 83.1%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --brand: hsl(213.3 93.9% 67.8%);
  --highlight: hsl(48 96% 53%);
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

#sidebarDiv,
#sidebarRightDiv {
  display: flex;
  flex: none;
  border: 1px solid var(--vscode-editorWidget-border);
  border-right: none;
}

#sidebar {
  width: 300px;
}

#editorsDiv {
  flex: 1;
  min-width: 0;
}

#editors {
  position: relative;
  min-width: 0;
  height: 99%;
  border: 1px solid var(--vscode-editorWidget-border);
}

#sidebar-right {
  max-width: 500px;
}

#auxiliaryBar-left,
#auxiliaryBar {
  max-width: 300px;
}

#panel {
  display: none;
  flex: 1;
  border: 1px solid var(--vscode-editorWidget-border);
  min-height: 0;
}

#titleBar {
  position: relative;
  flex: none;
  display: none;
}

#banner {
  flex: none;
}

#workbench-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#workbench-top {
  display: flex;
  gap: 20px;
  flex: 2;
  min-height: 0;
}

.monaco-workbench > :last-child {
  height: 100%;
}

.monaco-workbench-part {
  background-color: #0f1217 !important;
}

.monaco-workbench {
  --vscode-sideBarTitle-background: #0f1217 !important;
  --vscode-sideBar-background: #0f1217 !important;
  --vscode-editorGutter-background: #0f1217 !important;
  --vscode-editorWidget-border: #282d33 !important;



/* 
  --vscode-foreground: #cccccc;
    --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
    --vscode-errorForeground: #f85149;
    --vscode-descriptionForeground: #9d9d9d;
    --vscode-icon-foreground: #cccccc;
    --vscode-focusBorder: #0078d4;
    --vscode-textLink-foreground: #4daafc;
    --vscode-textLink-activeForeground: #4daafc;
    --vscode-textSeparator-foreground: #21262d;
    --vscode-textPreformat-foreground: #d0d0d0;
    --vscode-textPreformat-background: #3c3c3c;
    --vscode-textBlockQuote-background: #2b2b2b;
    --vscode-textBlockQuote-border: #616161;
    --vscode-textCodeBlock-background: #2b2b2b;
    --vscode-sash-hoverBorder: #0078d4;
    --vscode-badge-background: #616161;
    --vscode-badge-foreground: #f8f8f8;
    --vscode-activityWarningBadge-foreground: #000000;
    --vscode-activityWarningBadge-background: #cca700;
    --vscode-activityErrorBadge-foreground: #000000;
    --vscode-activityErrorBadge-background: #f14c4c;
    --vscode-scrollbar-shadow: #000000;
    --vscode-scrollbarSlider-background: rgba(121, 121, 121, 0.4);
    --vscode-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
    --vscode-scrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
    --vscode-progressBar-background: #0078d4;
    --vscode-chart-line: #236b8e;
    --vscode-chart-axis: rgba(191, 191, 191, 0.4);
    --vscode-chart-guide: rgba(191, 191, 191, 0.2);
    --vscode-editor-background: ##0f1217 !important;
    --vscode-editor-foreground: #cccccc;
    --vscode-editorStickyScroll-background: ##0f1217 !important;
    --vscode-editorStickyScrollHover-background: #2a2d2e;
    --vscode-editorStickyScroll-shadow: #000000;
    --vscode-editorWidget-background: #202020;
    --vscode-editorWidget-foreground: #cccccc;
    --vscode-editorWidget-border: #454545;
    --vscode-editorError-foreground: #f14c4c;
    --vscode-editorWarning-foreground: #cca700;
    --vscode-editorInfo-foreground: #3794ff;
    --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
    --vscode-editorLink-activeForeground: #4e94ce;
    --vscode-editor-selectionBackground: #264f78;
    --vscode-editor-inactiveSelectionBackground: #3a3d41;
    --vscode-editor-selectionHighlightBackground: rgba(173, 214, 255, 0.15);
    --vscode-editor-compositionBorder: #ffffff;
    --vscode-editor-findMatchBackground: #9e6a03;
    --vscode-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
    --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
    --vscode-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
    --vscode-editorHoverWidget-background: #202020;
    --vscode-editorHoverWidget-foreground: #cccccc;
    --vscode-editorHoverWidget-border: #454545;
    --vscode-editorHoverWidget-statusBarBackground: #262626;
    --vscode-editorInlayHint-foreground: #969696;
    --vscode-editorInlayHint-background: rgba(97, 97, 97, 0.1);
    --vscode-editorInlayHint-typeForeground: #969696;
    --vscode-editorInlayHint-typeBackground: rgba(97, 97, 97, 0.1);
    --vscode-editorInlayHint-parameterForeground: #969696;
    --vscode-editorInlayHint-parameterBackground: rgba(97, 97, 97, 0.1);
    --vscode-editorLightBulb-foreground: #ffcc00;
    --vscode-editorLightBulbAutoFix-foreground: #75beff;
    --vscode-editorLightBulbAi-foreground: #ffcc00;
    --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
    --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
    --vscode-diffEditor-insertedTextBackground: rgba(156, 204, 44, 0.2);
    --vscode-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.2);
    --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
    --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
    --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
    --vscode-diffEditor-unchangedRegionBackground: #181818;
    --vscode-diffEditor-unchangedRegionForeground: #cccccc;
    --vscode-diffEditor-unchangedCodeBackground: rgba(116, 116, 116, 0.16);
    --vscode-widget-shadow: rgba(0, 0, 0, 0.36);
    --vscode-widget-border: #313131;
    --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
    --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
    --vscode-breadcrumb-foreground: rgba(204, 204, 204, 0.8);
    --vscode-breadcrumb-background: ##0f1217 !important;
    --vscode-breadcrumb-focusForeground: #e0e0e0;
    --vscode-breadcrumb-activeSelectionForeground: #e0e0e0;
    --vscode-breadcrumbPicker-background: #202020;
    --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-problemsErrorIcon-foreground: #f14c4c;
    --vscode-problemsWarningIcon-foreground: #cca700;
    --vscode-problemsInfoIcon-foreground: #3794ff;
    --vscode-minimap-findMatchHighlight: #d18616;
    --vscode-minimap-selectionOccurrenceHighlight: #676767;
    --vscode-minimap-selectionHighlight: #264f78;
    --vscode-minimap-infoHighlight: #3794ff;
    --vscode-minimap-warningHighlight: #cca700;
    --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimapSlider-background: rgba(121, 121, 121, 0.2);
    --vscode-minimapSlider-hoverBackground: rgba(100, 100, 100, 0.35);
    --vscode-minimapSlider-activeBackground: rgba(191, 191, 191, 0.2);
    --vscode-charts-foreground: #cccccc;
    --vscode-charts-lines: rgba(204, 204, 204, 0.5);
    --vscode-charts-red: #f14c4c;
    --vscode-charts-blue: #3794ff;
    --vscode-charts-yellow: #cca700;
    --vscode-charts-orange: #d18616;
    --vscode-charts-green: #89d185;
    --vscode-charts-purple: #b180d7;
    --vscode-input-background: #313131;
    --vscode-input-foreground: #cccccc;
    --vscode-input-border: #3c3c3c;
    --vscode-inputOption-activeBorder: #2488db;
    --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-inputOption-activeBackground: rgba(36, 137, 219, 0.51);
    --vscode-inputOption-activeForeground: #ffffff;
    --vscode-input-placeholderForeground: #989898;
    --vscode-inputValidation-infoBackground: #063b49;
    --vscode-inputValidation-infoBorder: #007acc;
    --vscode-inputValidation-warningBackground: #352a05;
    --vscode-inputValidation-warningBorder: #b89500;
    --vscode-inputValidation-errorBackground: #5a1d1d;
    --vscode-inputValidation-errorBorder: #be1100;
    --vscode-dropdown-background: #313131;
    --vscode-dropdown-listBackground: ##0f1217 !important;
    --vscode-dropdown-foreground: #cccccc;
    --vscode-dropdown-border: #3c3c3c;
    --vscode-button-foreground: #ffffff;
    --vscode-button-separator: rgba(255, 255, 255, 0.4);
    --vscode-button-background: #0078d4;
    --vscode-button-hoverBackground: #026ec1;
    --vscode-button-border: rgba(255, 255, 255, 0.07);
    --vscode-button-secondaryForeground: #cccccc;
    --vscode-button-secondaryBackground: #313131;
    --vscode-button-secondaryHoverBackground: #3c3c3c;
    --vscode-radio-activeForeground: #ffffff;
    --vscode-radio-activeBackground: rgba(36, 137, 219, 0.51);
    --vscode-radio-activeBorder: #2488db;
    --vscode-radio-inactiveBorder: rgba(255, 255, 255, 0.2);
    --vscode-radio-inactiveHoverBackground: rgba(90, 93, 94, 0.5);
    --vscode-checkbox-background: #313131;
    --vscode-checkbox-selectBackground: #202020;
    --vscode-checkbox-foreground: #cccccc;
    --vscode-checkbox-border: #3c3c3c;
    --vscode-checkbox-selectBorder: #cccccc;
    --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
    --vscode-keybindingLabel-foreground: #cccccc;
    --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
    --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
    --vscode-list-focusOutline: #0078d4;
    --vscode-list-activeSelectionBackground: #04395e;
    --vscode-list-activeSelectionForeground: #ffffff;
    --vscode-list-activeSelectionIconForeground: #ffffff;
    --vscode-list-inactiveSelectionBackground: #37373d;
    --vscode-list-hoverBackground: #2a2d2e;
    --vscode-list-dropBackground: #383b3d;
    --vscode-list-dropBetweenBackground: #cccccc;
    --vscode-list-highlightForeground: #2aaaff;
    --vscode-list-focusHighlightForeground: #2aaaff;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-list-errorForeground: #f88070;
    --vscode-list-warningForeground: #cca700;
    --vscode-listFilterWidget-background: #202020;
    --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --vscode-listFilterWidget-noMatchesOutline: #be1100;
    --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.36);
    --vscode-list-filterMatchBackground: rgba(234, 92, 0, 0.33);
    --vscode-list-deemphasizedForeground: #8c8c8c;
    --vscode-tree-indentGuidesStroke: #585858;
    --vscode-tree-inactiveIndentGuidesStroke: rgba(88, 88, 88, 0.4);
    --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(204, 204, 204, 0.04);
    --vscode-editorActionList-background: #202020;
    --vscode-editorActionList-foreground: #cccccc;
    --vscode-editorActionList-focusForeground: #ffffff;
    --vscode-editorActionList-focusBackground: #04395e;
    --vscode-menu-border: #454545;
    --vscode-menu-foreground: #cccccc;
    --vscode-menu-background: ##0f1217 !important;
    --vscode-menu-selectionForeground: #ffffff;
    --vscode-menu-selectionBackground: #0078d4;
    --vscode-menu-separatorBackground: #454545;
    --vscode-quickInput-background: #222222;
    --vscode-quickInput-foreground: #cccccc;
    --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
    --vscode-pickerGroup-foreground: #3794ff;
    --vscode-pickerGroup-border: #3c3c3c;
    --vscode-quickInputList-focusForeground: #ffffff;
    --vscode-quickInputList-focusIconForeground: #ffffff;
    --vscode-quickInputList-focusBackground: #04395e;
    --vscode-search-resultsInfoForeground: rgba(204, 204, 204, 0.65);
    --vscode-searchEditor-findMatchBackground: rgba(234, 92, 0, 0.22);
    --vscode-editor-lineHighlightBorder: #282828;
    --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-editor-symbolHighlightBackground: rgba(234, 92, 0, 0.33);
    --vscode-editorCursor-foreground: #aeafad;
    --vscode-editorMultiCursor-primary-foreground: #aeafad;
    --vscode-editorMultiCursor-secondary-foreground: #aeafad;
    --vscode-editorWhitespace-foreground: rgba(227, 228, 226, 0.16);
    --vscode-editorLineNumber-foreground: #6e7681;
    --vscode-editorIndentGuide-background: rgba(227, 228, 226, 0.16);
    --vscode-editorIndentGuide-activeBackground: rgba(227, 228, 226, 0.16);
    --vscode-editorIndentGuide-background1: #404040;
    --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground1: #707070;
    --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorActiveLineNumber-foreground: #c6c6c6;
    --vscode-editorLineNumber-activeForeground: #cccccc;
    --vscode-editorRuler-foreground: #5a5a5a;
    --vscode-editorCodeLens-foreground: #999999;
    --vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
    --vscode-editorBracketMatch-border: #888888;
    --vscode-editorOverviewRuler-border: #010409;
    --vscode-editorGutter-background: ##0f1217 !important;
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
    --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --vscode-editorOverviewRuler-warningForeground: #cca700;
    --vscode-editorOverviewRuler-infoForeground: #3794ff;
    --vscode-editorBracketHighlight-foreground1: #ffd700;
    --vscode-editorBracketHighlight-foreground2: #da70d6;
    --vscode-editorBracketHighlight-foreground3: #179fff;
    --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-unexpectedBracket-foreground: rgba(255, 18, 18, 0.8);
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorUnicodeHighlight-border: #cca700;
    --vscode-tab-activeBackground: ##0f1217 !important;
    --vscode-tab-unfocusedActiveBackground: ##0f1217 !important;
    --vscode-tab-inactiveBackground: #181818;
    --vscode-tab-unfocusedInactiveBackground: #181818;
    --vscode-tab-activeForeground: #ffffff;
    --vscode-tab-inactiveForeground: #9d9d9d;
    --vscode-tab-unfocusedActiveForeground: rgba(255, 255, 255, 0.5);
    --vscode-tab-unfocusedInactiveForeground: rgba(157, 157, 157, 0.5);
    --vscode-tab-hoverBackground: ##0f1217 !important;
    --vscode-tab-unfocusedHoverBackground: ##0f1217 !important;
    --vscode-tab-border: #2b2b2b;
    --vscode-tab-lastPinnedBorder: rgba(204, 204, 204, 0.2);
    --vscode-tab-activeBorder: ##0f1217 !important;
    --vscode-tab-unfocusedActiveBorder: ##0f1217 !important;
    --vscode-tab-activeBorderTop: #0078d4;
    --vscode-tab-unfocusedActiveBorderTop: #2b2b2b;
    --vscode-tab-selectedBorderTop: #6caddf;
    --vscode-tab-selectedBackground: #222222;
    --vscode-tab-selectedForeground: rgba(255, 255, 255, 0.63);
    --vscode-tab-dragAndDropBorder: #ffffff;
    --vscode-tab-activeModifiedBorder: #3399cc;
    --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
    --vscode-editorPane-background: ##0f1217 !important;
    --vscode-editorGroupHeader-tabsBackground: #181818;
    --vscode-editorGroupHeader-tabsBorder: #2b2b2b;
    --vscode-editorGroupHeader-noTabsBackground: ##0f1217 !important;
    --vscode-editorGroup-border: rgba(255, 255, 255, 0.09);
    --vscode-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-editorGroup-dropIntoPromptForeground: #cccccc;
    --vscode-editorGroup-dropIntoPromptBackground: #202020;
    --vscode-sideBySideEditor-horizontalBorder: rgba(255, 255, 255, 0.09);
    --vscode-sideBySideEditor-verticalBorder: rgba(255, 255, 255, 0.09);
    --vscode-banner-background: #04395e;
    --vscode-banner-foreground: #ffffff;
    --vscode-banner-iconForeground: #3794ff;
    --vscode-statusBar-foreground: #cccccc;
    --vscode-statusBar-noFolderForeground: #cccccc;
    --vscode-statusBar-background: #181818;
    --vscode-statusBar-noFolderBackground: ##0f1217 !important;
    --vscode-statusBar-border: #2b2b2b;
    --vscode-statusBar-focusBorder: #0078d4;
    --vscode-statusBar-noFolderBorder: #2b2b2b;
    --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --vscode-statusBarItem-focusBorder: #0078d4;
    --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-hoverForeground: #cccccc;
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
    --vscode-statusBarItem-prominentForeground: #cccccc;
    --vscode-statusBarItem-prominentBackground: rgba(110, 118, 129, 0.4);
    --vscode-statusBarItem-prominentHoverForeground: #cccccc;
    --vscode-statusBarItem-prominentHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-errorBackground: #b91007;
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-errorHoverForeground: #cccccc;
    --vscode-statusBarItem-errorHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-warningBackground: #7a6400;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-statusBarItem-warningHoverForeground: #cccccc;
    --vscode-statusBarItem-warningHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-activityBar-background: #181818;
    --vscode-activityBar-foreground: #d7d7d7;
    --vscode-activityBar-inactiveForeground: #868686;
    --vscode-activityBar-border: #2b2b2b;
    --vscode-activityBar-activeBorder: #0078d4;
    --vscode-activityBar-dropBorder: #d7d7d7;
    --vscode-activityBarBadge-background: #0078d4;
    --vscode-activityBarBadge-foreground: #ffffff;
    --vscode-activityBarTop-foreground: #e7e7e7;
    --vscode-activityBarTop-activeBorder: #e7e7e7;
    --vscode-activityBarTop-inactiveForeground: rgba(231, 231, 231, 0.6);
    --vscode-activityBarTop-dropBorder: #e7e7e7;
    --vscode-panel-background: #181818;
    --vscode-panel-border: #2b2b2b;
    --vscode-panelTitle-activeForeground: #cccccc;
    --vscode-panelTitle-inactiveForeground: #9d9d9d;
    --vscode-panelTitle-activeBorder: #0078d4;
    --vscode-panelTitleBadge-background: #0078d4;
    --vscode-panelTitleBadge-foreground: #ffffff;
    --vscode-panelInput-border: #2b2b2b;
    --vscode-panel-dropBorder: #cccccc;
    --vscode-panelSection-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelSection-border: #2b2b2b;
    --vscode-panelStickyScroll-background: #181818;
    --vscode-panelStickyScroll-shadow: #000000;
    --vscode-profileBadge-background: #4d4d4d;
    --vscode-profileBadge-foreground: #ffffff;
    --vscode-statusBarItem-remoteBackground: #0078d4;
    --vscode-statusBarItem-remoteForeground: #ffffff;
    --vscode-statusBarItem-remoteHoverForeground: #cccccc;
    --vscode-statusBarItem-remoteHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-offlineBackground: #6c1717;
    --vscode-statusBarItem-offlineForeground: #ffffff;
    --vscode-statusBarItem-offlineHoverForeground: #cccccc;
    --vscode-statusBarItem-offlineHoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-extensionBadge-remoteBackground: #0078d4;
    --vscode-extensionBadge-remoteForeground: #ffffff;
    --vscode-sideBar-background: #181818;
    --vscode-sideBar-foreground: #cccccc;
    --vscode-sideBar-border: #2b2b2b;
    --vscode-sideBarTitle-background: #181818;
    --vscode-sideBarTitle-foreground: #cccccc;
    --vscode-sideBar-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-sideBarSectionHeader-background: #181818;
    --vscode-sideBarSectionHeader-foreground: #cccccc;
    --vscode-sideBarSectionHeader-border: #2b2b2b;
    --vscode-sideBarActivityBarTop-border: #2b2b2b;
    --vscode-sideBarStickyScroll-background: #181818;
    --vscode-sideBarStickyScroll-shadow: #000000;
    --vscode-titleBar-activeForeground: #cccccc;
    --vscode-titleBar-inactiveForeground: #9d9d9d;
    --vscode-titleBar-activeBackground: #181818;
    --vscode-titleBar-inactiveBackground: ##0f1217 !important;
    --vscode-titleBar-border: #2b2b2b;
    --vscode-menubar-selectionForeground: #cccccc;
    --vscode-menubar-selectionBackground: rgba(90, 93, 94, 0.31);
    --vscode-commandCenter-foreground: #cccccc;
    --vscode-commandCenter-activeForeground: #cccccc;
    --vscode-commandCenter-inactiveForeground: #9d9d9d;
    --vscode-commandCenter-background: rgba(255, 255, 255, 0.05);
    --vscode-commandCenter-activeBackground: rgba(255, 255, 255, 0.08);
    --vscode-commandCenter-border: rgba(204, 204, 204, 0.2);
    --vscode-commandCenter-activeBorder: rgba(204, 204, 204, 0.3);
    --vscode-commandCenter-inactiveBorder: rgba(157, 157, 157, 0.25);
    --vscode-notificationCenter-border: #313131;
    --vscode-notificationToast-border: #313131;
    --vscode-notifications-foreground: #cccccc;
    --vscode-notifications-background: ##0f1217 !important;
    --vscode-notificationLink-foreground: #4daafc;
    --vscode-notificationCenterHeader-foreground: #cccccc;
    --vscode-notificationCenterHeader-background: ##0f1217 !important;
    --vscode-notifications-border: #2b2b2b;
    --vscode-notificationsErrorIcon-foreground: #f14c4c;
    --vscode-notificationsWarningIcon-foreground: #cca700;
    --vscode-notificationsInfoIcon-foreground: #3794ff;
    --vscode-peekViewTitle-background: #252526;
    --vscode-peekViewTitleLabel-foreground: #ffffff;
    --vscode-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
    --vscode-peekView-border: #3794ff;
    --vscode-peekViewResult-background: ##0f1217 !important;
    --vscode-peekViewResult-lineForeground: #bbbbbb;
    --vscode-peekViewResult-fileForeground: #ffffff;
    --vscode-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
    --vscode-peekViewResult-selectionForeground: #ffffff;
    --vscode-peekViewEditor-background: ##0f1217 !important;
    --vscode-peekViewEditorGutter-background: ##0f1217 !important;
    --vscode-peekViewEditorStickyScroll-background: ##0f1217 !important;
    --vscode-peekViewResult-matchHighlightBackground: rgba(187, 128, 9, 0.4);
    --vscode-peekViewEditor-matchHighlightBackground: rgba(187, 128, 9, 0.4);
    --vscode-actionBar-toggledBackground: #383a49;
    --vscode-symbolIcon-arrayForeground: #cccccc;
    --vscode-symbolIcon-booleanForeground: #cccccc;
    --vscode-symbolIcon-classForeground: #ee9d28;
    --vscode-symbolIcon-colorForeground: #cccccc;
    --vscode-symbolIcon-constantForeground: #cccccc;
    --vscode-symbolIcon-constructorForeground: #b180d7;
    --vscode-symbolIcon-enumeratorForeground: #ee9d28;
    --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
    --vscode-symbolIcon-eventForeground: #ee9d28;
    --vscode-symbolIcon-fieldForeground: #75beff;
    --vscode-symbolIcon-fileForeground: #cccccc;
    --vscode-symbolIcon-folderForeground: #cccccc;
    --vscode-symbolIcon-functionForeground: #b180d7;
    --vscode-symbolIcon-interfaceForeground: #75beff;
    --vscode-symbolIcon-keyForeground: #cccccc;
    --vscode-symbolIcon-keywordForeground: #cccccc;
    --vscode-symbolIcon-methodForeground: #b180d7;
    --vscode-symbolIcon-moduleForeground: #cccccc;
    --vscode-symbolIcon-namespaceForeground: #cccccc;
    --vscode-symbolIcon-nullForeground: #cccccc;
    --vscode-symbolIcon-numberForeground: #cccccc;
    --vscode-symbolIcon-objectForeground: #cccccc;
    --vscode-symbolIcon-operatorForeground: #cccccc;
    --vscode-symbolIcon-packageForeground: #cccccc;
    --vscode-symbolIcon-propertyForeground: #cccccc;
    --vscode-symbolIcon-referenceForeground: #cccccc;
    --vscode-symbolIcon-snippetForeground: #cccccc;
    --vscode-symbolIcon-stringForeground: #cccccc;
    --vscode-symbolIcon-structForeground: #cccccc;
    --vscode-symbolIcon-textForeground: #cccccc;
    --vscode-symbolIcon-typeParameterForeground: #cccccc;
    --vscode-symbolIcon-unitForeground: #cccccc;
    --vscode-symbolIcon-variableForeground: #75beff;
    --vscode-editorSuggestWidget-background: #202020;
    --vscode-editorSuggestWidget-border: #454545;
    --vscode-editorSuggestWidget-foreground: #cccccc;
    --vscode-editorSuggestWidget-selectedForeground: #ffffff;
    --vscode-editorSuggestWidget-selectedIconForeground: #ffffff;
    --vscode-editorSuggestWidget-selectedBackground: #04395e;
    --vscode-editorSuggestWidget-highlightForeground: #2aaaff;
    --vscode-editorSuggestWidget-focusHighlightForeground: #2aaaff;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(204, 204, 204, 0.5);
    --vscode-debugToolBar-background: #181818;
    --vscode-debugIcon-startForeground: #89d185;
    --vscode-inlineChat-foreground: #cccccc;
    --vscode-inlineChat-background: #202020;
    --vscode-inlineChat-border: #454545;
    --vscode-inlineChat-shadow: rgba(0, 0, 0, 0.36);
    --vscode-inlineChatInput-border: #454545;
    --vscode-inlineChatInput-focusBorder: #0078d4;
    --vscode-inlineChatInput-placeholderForeground: #989898;
    --vscode-inlineChatInput-background: #313131;
    --vscode-inlineChatDiff-inserted: rgba(156, 204, 44, 0.1);
    --vscode-editorOverviewRuler-inlineChatInserted: rgba(156, 204, 44, 0.12);
    --vscode-editorMinimap-inlineChatInserted: rgba(156, 204, 44, 0.12);
    --vscode-inlineChatDiff-removed: rgba(255, 0, 0, 0.1);
    --vscode-editorOverviewRuler-inlineChatRemoved: rgba(255, 0, 0, 0.12);
    --vscode-diffEditor-move-border: rgba(139, 139, 139, 0.61);
    --vscode-diffEditor-moveActive-border: #ffa500;
    --vscode-diffEditor-unchangedRegionShadow: #000000;
    --vscode-editorWatermark-foreground: rgba(204, 204, 204, 0.6);
    --vscode-extensionButton-background: #0078d4;
    --vscode-extensionButton-foreground: #ffffff;
    --vscode-extensionButton-hoverBackground: #026ec1;
    --vscode-extensionButton-separator: rgba(255, 255, 255, 0.4);
    --vscode-extensionButton-prominentBackground: #0078d4;
    --vscode-extensionButton-prominentForeground: #ffffff;
    --vscode-extensionButton-prominentHoverBackground: #026ec1;
    --vscode-extensionIcon-verifiedForeground: #4daafc;
    --vscode-chat-requestBorder: rgba(255, 255, 255, 0.1);
    --vscode-chat-requestBackground: rgba(31, 31, 31, 0.62);
    --vscode-chat-slashCommandBackground: #34414b;
    --vscode-chat-slashCommandForeground: #40a6ff;
    --vscode-chat-avatarBackground: ##0f1217 !important;
    --vscode-chat-avatarForeground: #cccccc;
    --vscode-chat-editedFileForeground: #e2c08d;
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.72);
    --vscode-editor-wordHighlightStrongBackground: rgba(0, 73, 114, 0.72);
    --vscode-editor-wordHighlightTextBackground: rgba(87, 87, 87, 0.72);
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
    --vscode-editor-foldBackground: rgba(38, 79, 120, 0.3);
    --vscode-editor-foldPlaceholderForeground: #808080;
    --vscode-editorGutter-foldingControlForeground: #cccccc;
    --vscode-inlineEdit-originalBackground: rgba(0, 0, 0, 0);
    --vscode-inlineEdit-modifiedBackground: rgba(0, 0, 0, 0);
    --vscode-inlineEdit-originalChangedLineBackground: rgba(0, 0, 0, 0);
    --vscode-inlineEdit-originalChangedTextBackground: rgba(255, 0, 0, 0.2);
    --vscode-inlineEdit-modifiedChangedLineBackground: rgba(155, 185, 85, 0.1);
    --vscode-inlineEdit-modifiedChangedTextBackground: rgba(156, 204, 44, 0.2);
    --vscode-inlineEdit-wordReplacementView-background: rgba(38, 38, 38, 0.1);
    --vscode-inlineEdit-gutterIndicator-primaryForeground: #ffffff;
    --vscode-inlineEdit-gutterIndicator-primaryBackground: #0078d4;
    --vscode-inlineEdit-gutterIndicator-secondaryForeground: #cccccc;
    --vscode-inlineEdit-gutterIndicator-secondaryBackground: #313131;
    --vscode-inlineEdit-gutterIndicator-successfulForeground: #ffffff;
    --vscode-inlineEdit-gutterIndicator-successfulBackground: #2e825c;
    --vscode-inlineEdit-gutterIndicator-background: rgba(24, 24, 24, 0.5);
    --vscode-inlineEdit-originalBorder: #454545;
    --vscode-inlineEdit-modifiedBorder: #454545;
    --vscode-inlineEdit-tabWillAcceptBorder: #565656;
    --vscode-inlineEdit-indicator-foreground: #ffffff;
    --vscode-inlineEdit-indicator-background: #0078d4;
    --vscode-inlineEdit-indicator-border: rgba(255, 255, 255, 0.4);
    --vscode-commentsView-resolvedIcon: rgba(204, 204, 204, 0.5);
    --vscode-commentsView-unresolvedIcon: #0078d4;
    --vscode-editorCommentsWidget-replyInputBackground: #252526;
    --vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
    --vscode-editorCommentsWidget-unresolvedBorder: #0078d4;
    --vscode-editorCommentsWidget-rangeBackground: rgba(0, 120, 212, 0.1);
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(0, 120, 212, 0.1);
    --vscode-notebook-cellBorderColor: #37373d;
    --vscode-notebook-focusedEditorBorder: #0078d4;
    --vscode-notebookStatusSuccessIcon-foreground: #89d185;
    --vscode-notebookEditorOverviewRuler-runningCellForeground: #89d185;
    --vscode-notebookStatusErrorIcon-foreground: #f85149;
    --vscode-notebookStatusRunningIcon-foreground: #cccccc;
    --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --vscode-notebook-selectedCellBackground: #37373d;
    --vscode-notebook-selectedCellBorder: #37373d;
    --vscode-notebook-focusedCellBorder: #0078d4;
    --vscode-notebook-inactiveFocusedCellBorder: #37373d;
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
    --vscode-notebook-cellInsertionIndicator: #0078d4;
    --vscode-notebookScrollbarSlider-background: rgba(121, 121, 121, 0.4);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
    --vscode-notebookScrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
    --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-notebook-cellEditorBackground: #181818;
    --vscode-notebook-editorBackground: ##0f1217 !important;
    --vscode-editorGutter-modifiedBackground: #0078d4;
    --vscode-editorGutter-addedBackground: #2ea043;
    --vscode-editorGutter-deletedBackground: #f85149;
    --vscode-minimapGutter-modifiedBackground: #0078d4;
    --vscode-minimapGutter-addedBackground: #2ea043;
    --vscode-minimapGutter-deletedBackground: #f85149;
    --vscode-editorOverviewRuler-modifiedForeground: rgba(0, 120, 212, 0.6);
    --vscode-editorOverviewRuler-addedForeground: rgba(46, 160, 67, 0.6);
    --vscode-editorOverviewRuler-deletedForeground: rgba(248, 81, 73, 0.6);
    --vscode-terminal-foreground: #cccccc;
    --vscode-terminal-selectionBackground: #264f78;
    --vscode-terminal-inactiveSelectionBackground: #3a3d41;
    --vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.25);
    --vscode-terminalCommandDecoration-successBackground: #1b81a8;
    --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminal-border: #2b2b2b;
    --vscode-terminalOverviewRuler-border: #010409;
    --vscode-terminal-findMatchBackground: #9e6a03;
    --vscode-terminal-hoverHighlightBackground: rgba(38, 79, 120, 0.13);
    --vscode-terminal-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
    --vscode-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-terminal-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-terminal-tab-activeBorder: #0078d4;
    --vscode-terminal-initialHintForeground: rgba(255, 255, 255, 0.34);
    --vscode-scmGraph-historyItemRefColor: #3794ff;
    --vscode-scmGraph-historyItemRemoteRefColor: #b180d7;
    --vscode-scmGraph-historyItemBaseRefColor: #ea5c00;
    --vscode-scmGraph-historyItemHoverDefaultLabelForeground: #cccccc;
    --vscode-scmGraph-historyItemHoverDefaultLabelBackground: #616161;
    --vscode-scmGraph-historyItemHoverLabelForeground: #ffffff;
    --vscode-scmGraph-historyItemHoverAdditionsForeground: #81b88b;
    --vscode-scmGraph-historyItemHoverDeletionsForeground: #c74e39;
    --vscode-scmGraph-foreground1: #ffb000;
    --vscode-scmGraph-foreground2: #dc267f;
    --vscode-scmGraph-foreground3: #994f00;
    --vscode-scmGraph-foreground4: #40b0a6;
    --vscode-scmGraph-foreground5: #b66dff;
    --vscode-editorGutter-commentRangeForeground: #37373d;
    --vscode-editorOverviewRuler-commentForeground: #37373d;
    --vscode-editorOverviewRuler-commentUnresolvedForeground: #37373d;
    --vscode-editorGutter-commentGlyphForeground: #cccccc;
    --vscode-editorGutter-commentUnresolvedGlyphForeground: #cccccc;
    --vscode-editorMarkerNavigationError-background: #f14c4c;
    --vscode-editorMarkerNavigationError-headerBackground: rgba(241, 76, 76, 0.1);
    --vscode-editorMarkerNavigationWarning-background: #cca700;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(204, 167, 0, 0.1);
    --vscode-editorMarkerNavigationInfo-background: #3794ff;
    --vscode-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
    --vscode-editorMarkerNavigation-background: ##0f1217 !important;
    --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
    --vscode-editorHoverWidget-highlightForeground: #2aaaff;
    --vscode-editor-placeholder-foreground: rgba(255, 255, 255, 0.34);
    --vscode-ports-iconRunningProcessForeground: #369432;
    --vscode-searchEditor-textInputBorder: #3c3c3c;
    --vscode-multiDiffEditor-headerBackground: #262626;
    --vscode-multiDiffEditor-background: ##0f1217 !important;
    --vscode-multiDiffEditor-border: #2b2b2b;
    --vscode-simpleFindWidget-sashBorder: #454545;
    --vscode-mergeEditor-change-background: rgba(155, 185, 85, 0.2);
    --vscode-mergeEditor-change-word-background: rgba(156, 204, 44, 0.2);
    --vscode-mergeEditor-changeBase-background: #4b1818;
    --vscode-mergeEditor-changeBase-word-background: #6f1313;
    --vscode-mergeEditor-conflict-unhandledUnfocused-border: rgba(255, 166, 0, 0.48);
    --vscode-mergeEditor-conflict-unhandledFocused-border: #ffa600;
    --vscode-mergeEditor-conflict-handledUnfocused-border: rgba(134, 134, 134, 0.29);
    --vscode-mergeEditor-conflict-handledFocused-border: rgba(193, 193, 193, 0.8);
    --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: #fcba03;
    --vscode-mergeEditor-conflictingLines-background: rgba(255, 234, 0, 0.28);
    --vscode-mergeEditor-conflict-input1-background: rgba(64, 200, 174, 0.2);
    --vscode-mergeEditor-conflict-input2-background: rgba(64, 166, 255, 0.2);
    --vscode-settings-headerForeground: #ffffff;
    --vscode-settings-settingsHeaderHoverForeground: rgba(255, 255, 255, 0.7);
    --vscode-settings-modifiedItemIndicator: rgba(187, 128, 9, 0.4);
    --vscode-settings-headerBorder: #2b2b2b;
    --vscode-settings-sashBorder: #2b2b2b;
    --vscode-settings-dropdownBackground: #313131;
    --vscode-settings-dropdownForeground: #cccccc;
    --vscode-settings-dropdownBorder: #3c3c3c;
    --vscode-settings-dropdownListBorder: #454545;
    --vscode-settings-checkboxBackground: #313131;
    --vscode-settings-checkboxForeground: #cccccc;
    --vscode-settings-checkboxBorder: #3c3c3c;
    --vscode-settings-textInputBackground: #313131;
    --vscode-settings-textInputForeground: #cccccc;
    --vscode-settings-textInputBorder: #3c3c3c;
    --vscode-settings-numberInputBackground: #313131;
    --vscode-settings-numberInputForeground: #cccccc;
    --vscode-settings-numberInputBorder: #3c3c3c;
    --vscode-settings-focusedRowBackground: rgba(42, 45, 46, 0.6);
    --vscode-settings-rowHoverBackground: rgba(42, 45, 46, 0.3);
    --vscode-settings-focusedRowBorder: #0078d4; */
}

.editor-container .monaco-editor {
  background-color: #0f1217 !important;

}


#activityBar > div > .content > div:last-child > .monaco-action-bar.vertical {
  display: none;
}

#statusBar {
  display: none;
}

.monaco-tl-twistie.collapsible {
  padding-left: 22px !important;
  padding-right: 15px !important;
} 